<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.apache.cordova.hello"
    version="0.0.1">
    <name>Hello</name>
    <description>Cordova Hello Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,hello</keywords>

    <js-module src="www/hello.js" name="hello">
        <clobbers target="hello" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Hello" >
                <param name="android-package" value="org.apache.cordova.hello.Hello"/>
            </feature>
        </config-file>

        <source-file src="src/android/Hello.java" target-dir="src/org/apache/cordova/hello" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Hello">
                <param name="ios-package" value="CDVHello"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVHello.h" />
        <source-file src="src/ios/CDVHello.m" />
    </platform>
   
</plugin>
